
{% extends 'base.html' %}

{% block title %}
    Edain Mod Manager
{% endblock %}

{% block content %}
<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
        <div class="formbold-form-title">
            <h2 class="">Edain Mod Manager</h2>
                <p>
                Use this form to start the build process for a beta or release.
              </p>
          </div><br><br>

          <p>{{ message }}</p>
    </div>
  </div>
{% endblock %}

