
{% extends 'base.html' %}

{% block title %}
    Edain Mod Manager
{% endblock %}

{% block content %}
<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
        <div class="formbold-form-title">
            <h2 class="">Edain Mod Manager</h2>
                <p>
                The best way to create and share Edain releases
              </p>
          </div><br><br>

          <p>{{ message }}</p>

          {% if logs %}
            <br> <br>
            <h3>Current Progress</h3>
            <p style="white-space: pre-wrap;">{{logs}}</p>
          {% endif %}
    </div>
  </div>
{% endblock %}

