
{% extends 'base.html' %}

{% block title %}
    Edain Mod Manager - {% if is_beta %} Beta {% else %} Release {% endif %} Version
{% endblock %}

{% block content %}
<script>
    var data = {
        {% for branch, text in commits.items() %} "{{branch}}": "{{text}}", {% endfor %}
    };

    function changeText(id) {
        document.getElementById("content").innerText = data[id];
    }
</script>

<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <form method="POST">
    <div class="formbold-form-wrapper">
        <div class="formbold-form-title">
            <h2 class="">Edain Mod Manager</h2>
                <p>
                Use this form to start the build process for a beta or release.
              </p>
          </div><br><br>

          {{ form.csrf_token }}
          <div class="formbold-input-flex">
            <div>
                {{ form.version_number(size=20, class_="formbold-form-input") }}
                {{ form.version_number.label(class_="formbold-form-label") }}
            </div>
            {% if is_beta %}
                <div>
                    {{ form.candidate_number(size=20, class_="formbold-form-input") }}
                    {{ form.candidate_number.label(class_="formbold-form-label") }}
                </div>
            {% endif %}
          </div>
  
            <div class="formbold-input-flex">
                <div>
                    {{ form.branch_name(class_="formbold-form-select", onchange="changeText(this.value);") }}
                    {{ form.branch_name.label(class_="formbold-form-label") }}
                </div>
                <div>
                    {{ form.commit_sha(class_="formbold-form-input") }}
                    {{ form.commit_sha.label(class_="formbold-form-label") }}
                </div>
            </div>
  
            <div class="side-by-side">
                <div id="content" class="formbold-form-input">
                    {{ commits["origin/main"] }}
                </div>
                <div>
                    <div>
                        <label class="formbold-form-label"> Select flows to run </label>
                        <div class="formbold-checkbox-wrapper">
                            <label class="formbold-checkbox-label" for="build_box">
                            <div class="formbold-relative">
                                {{ form.build_flow(class_="formbold-input-checkbox", id="build_box") }}
                            </div>
                            {{ form.build_flow.label.text }}
                            </label>
                        </div>

                        <div class="formbold-checkbox-wrapper">
                            <label class="formbold-checkbox-label" for="taiga_box">
                            <div class="formbold-relative">
                                {{ form.taiga_flow(class_="formbold-input-checkbox", id="taiga_box") }}
                            </div>
                            {{ form.taiga_flow.label.text }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
          
          
          <input type="submit" class="formbold-btn" value="Create {% if not is_beta %} Release {% else %} Beta {% endif %}">
          <a href="/{% if not is_beta %}release{% else %}beta{% endif %}/download" class="formbold-btn">Go to download</a>
      </form>
    </div>
  </div>
{% endblock %}

