
{% extends 'base.html' %}

{% block title %}
Edain Mod Downloader
{% endblock %}

{% block content %}
<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <div class="formbold-form-title">
            <h2 class="">Edain Mod Manager</h2>
                <p>
                Select the release or individual files you want to download from here.
            </p>
        </div><br><br>

        {% if names %}
            <ul>
                {% for release in names %}
                <li><a href="/{% if not is_beta %}release{% else %}beta{% endif %}/download?download={{release}}">{{release}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nothing to see here, for now...</p>
        {% endif %}
    </div>
  </div>
{% endblock %}

