
{% extends 'base.html' %}

{% block title %}
    Edain Mod Manager - {% if is_beta %} Beta {% else %} Release {% endif %} Version
{% endblock %}

{% block content %}
<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <form method="POST">
    <div class="formbold-form-wrapper">
        <div class="formbold-form-title">
            <h2 class="">Edain Mod Manager</h2>
                <p>
                Use this form to start the build process for a beta or release.
              </p>
          </div><br><br>

          {{ form.csrf_token }}
          <div class="formbold-input-flex">
            <div>
                {{ form.version_number(size=20, class_="formbold-form-input") }}
                {{ form.version_number.label(class_="formbold-form-label") }}
            </div>
            {% if is_beta %}
                <div>
                    {{ form.candidate_number(size=20, class_="formbold-form-input") }}
                    {{ form.candidate_number.label(class_="formbold-form-label") }}
                </div>
            {% endif %}
          </div>
  
            <div class="formbold-input-flex">
                <div>
                    {{ form.branch_name(class_="formbold-form-select") }}
                    {{ form.branch_name.label(class_="formbold-form-label") }}
                </div>
                <div>
                    {{ form.commit_sha(class_="formbold-form-input") }}
                    {{ form.commit_sha.label(class_="formbold-form-label") }}
                </div>
            </div>
  
          <label for="email" class="formbold-form-label"> Select flows to run </label>
          <div>
            <div class="formbold-checkbox-wrapper">
                <label for="supportCheckbox" class="formbold-checkbox-label" for="build_box">
                <div class="formbold-relative">
                    {{ form.build_flow(class_="formbold-input-checkbox", id="build_box") }}
                </div>
                {{ form.build_flow.label.text }}
                </label>
            </div>

            <div class="formbold-checkbox-wrapper">
                <label for="supportCheckbox" class="formbold-checkbox-label" for="taiga_box">
                <div class="formbold-relative">
                    {{ form.taiga_flow(class_="formbold-input-checkbox", id="taiga_box") }}
                </div>
                {{ form.taiga_flow.label.text }}
                </label>
            </div>
           </div>
          
          <input type="submit" class="formbold-btn" value="Create {% if not is_beta %} Release {% else %} Beta {% endif %}">
      </form>
    </div>
  </div>
{% endblock %}

